body {
    background-color: #fbcce7; /* Sfondo rosa */
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-circle {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    transition: transform 0.3s, background-color 0.3s;
}

.hover-circle:hover {
    transform: translateX(-50%) scale(1.1);
    background-color: #f8c8dc; /* Cambia colore al hover */
}

#calendar {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 10px;
}

/* Modal styling */
.modal {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 300px;
    max-height: 400px;
    overflow-y: auto;
}

#modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

#time-selection-modal .modal-title {
    text-align: center;
}

#time-selection-modal ul {
    list-style-type: none;
    padding: 0;
    max-height: 300px;
    overflow-y: auto;
}

#time-selection-modal li {
    padding: 10px;
    cursor: pointer;
    text-align: center;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    border-radius: 5px;
}

#time-selection-modal li.active {
    background-color: #007bff;
    color: white;
}

#time-selection-modal li:hover {
    background-color: #f8c8dc; /* Cambia colore al hover */
}

#time-selection-modal .modal-footer {
    display: flex;
    justify-content: center;
}

.fc-event-tooltip {
    position: absolute;
    z-index: 10001;
    background: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
    display: none;
}

.unavailable {
    color: red;
    cursor: not-allowed;
}
.privacy-page {
    background-color: yellow; /* o qualsiasi colore desiderato */
    color: black; /* Assicurati che il testo sia leggibile */
}

body.privacy-page {
    background-color: white;
    color: black;
    padding: 20px;
    font-family: Arial, sans-serif;
}


