<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Informativa Privacy</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'prenotazioni/privacy.css' %}">
</head>
<body class="privacy-page">
    <h1>Informativa sulla Privacy</h1>
    <p>Benvenuto! La tua privacy è molto importante per noi. Questa informativa sulla privacy descrive come raccogliamo, utilizziamo e proteggiamo i tuoi dati personali. Utilizzando il nostro sito, acconsenti al trattamento dei tuoi dati personali come descritto in questa informativa.</p>

    <h2>Finalità del Trattamento</h2>
    <ul>
        <li>Gestire il sito web e le attività aziendali.</li>
        <li>Permettere l'uso dei servizi di prenotazione disponibili sul sito.</li>
        <li>Inviare notifiche di conferma e comunicazioni di marketing, previo consenso.</li>
    </ul>
    <h2>Base Giuridica del Trattamento</h2>
    <p>Il trattamento dei dati si basa sul consenso dell'utente, obblighi legali, esecuzione di un contratto, o legittimo interesse.</p>

    <h2>Sicurezza dei Dati</h2>
    <p>Utilizziamo misure di sicurezza tecniche ed organizzative per proteggere i tuoi dati personali da accessi non autorizzati, usi impropri, o divulgazione.</p>

    <h2>Diritti degli Utenti</h2>
    <ul>
        <li><strong>Diritto di accesso:</strong> Puoi richiedere una copia delle informazioni che deteniamo su di te.</li>
        <li><strong>Diritto di rettifica:</strong> Puoi chiedere di correggere dati inesatti o incompleti.</li>
        <li><strong>Diritto alla cancellazione:</strong> Puoi chiedere la cancellazione dei tuoi dati personali in determinate circostanze.</li>
        <li><strong>Diritto di opposizione:</strong> Puoi opporti al trattamento dei tuoi dati per motivi legittimi.</li>
        <li><strong>Diritto alla portabilità dei dati:</strong> Puoi chiedere che i tuoi dati siano trasferiti a un altro responsabile del trattamento.</li>
    </ul>

    <h2>Periodo di Conservazione</h2>
    <p>I dati personali saranno conservati per il tempo necessario a soddisfare le finalità per le quali sono stati raccolti e trattati, salvo obblighi di legge.</p>

    <h2>Condivisione dei Dati</h2>
    <p>I tuoi dati personali possono essere condivisi con fornitori di servizi di terze parti che ci aiutano a gestire il nostro sito e a fornire servizi, nel rispetto delle norme di sicurezza.</p>

    <h2>Aggiornamenti della Policy</h2>
    <p>La presente informativa sulla privacy può essere aggiornata periodicamente. Le modifiche saranno pubblicate su questa pagina e, se rilevanti, notificate tramite e-mail.</p>

    <h2>Contatti</h2>
    <p>Per domande o richieste riguardanti la nostra politica sulla privacy, contattaci a sidoalla99@gmail.com.</p>
</body>
</html>
